/* GalleryImages.css */

.my-masonry-grid {
    display: flex;
    margin-left: -20px; /* Adjust margin as needed */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 20px; /* Adjust padding as needed */
    background-clip: padding-box;
  }
  
  .masonry-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  